<?xml version="1.0" encoding="UTF-8"?>

<configuration scan="true" scanPeriod="30 seconds">
    <appender name="console" class="ch.qos.logback.core.ConsoleAppender">
        <encoder>
            <pattern> %d{HH:mm:ss.SSS} [%thread] %-5level %logger{36} - %msg%n</pattern>
        </encoder>
    </appender>
    <appender name="FILE" class="ch.qos.logback.core.rolling.RollingFileAppender">
        <file>logs/project9.log</file>
        <rollingPolicy class="ch.qos.logback.core.rolling.TimeBasedRollingPolicy">
            <fileNamePattern>logs/project9.%d{yyyy-MM-dd}.log</fileNamePattern>
            <maxHistory>60</maxHistory>
        </rollingPolicy>
        <encoder>
            <pattern>%-4relative [%thread] %-5level %logger{35} - %msg%n</pattern>
        </encoder>
    </appender>
 
    <logger name="org.springframework" level="info"/>
    <logger name="org.springframework.security" level="info" />
    
    <logger name="java.sql" level="error" />
    <logger name="jdbc.sqlonly" level="debug" />
    <logger name="jdbc.sqltiming" level="debug" />
    <logger name="jdbc.audit" level="error" />
    <logger name="jdbc.resultset" level="error" />

     <root level="debug">
         <appender-ref ref="console"/>
         <!-- appender-ref ref="FILE"/-->
     </root>
     
</configuration>